## Generated PDFs to exclude in src code branch
docs/*.pdf

### Unit Test temporary files
fsw/**/unit_test/tmp_code_coverage
fsw/**/unit_test/*.zip
fsw/**/unit_test/*.log
fsw/**/unit_test/db
fsw/**/unit_test/runs
fsw/**/unit_test/html
fsw/**/unit_test/tcl_scripts/~
fsw/**/unit_test/payload

### Functional Test temporary files
fsw/**/functional_test/payload
fsw/**/functional_test/tcl_scripts/~
fsw/**/functional_test/*.log
